body {
    background-image: url("../images/website-background.jpg");
}


.download {
    font-size: 34px;
    text-align: center;
}

.before-you-go-song {
    font-size: 24px;
    color: white;
}

.mario-judah-die-song {
    font-size: 24px;
    color: white;
}

nav {
    list-style-type: none;
    font-size: 34px;
}

.arizona-roxanne {
    font-size: 24px;
    color: white;
}

.blinding-light {
    font-size: 24px;
    color: white;
}

.locked-out {
    font-size: 24px;
    color: white;
    display: flex;
}

locked-out-song {
    text-align: right;
}
